Source: greengage7
Maintainer: Greengage <greengage@greengagedb.org>
Section: database
Build-Depends: debhelper (>= 13), lsb-release

Package: greengage7
Priority: optional
Architecture: any
Depends: ${shlibs:Depends},
	 iproute2,
	 iputils-ping,
	 less,
	 net-tools,
	 openssh-client,
	 openssh-server,
	 openssl,
	 python3,
	 python3-pkg-resources,
	 python3-psutil,
	 python3-psycopg2,
	 python3-yaml,
	 rsync,
	 zip
Conflicts: greengage-loaders, ${pythonConflicts}
Description: Greengage MPP database engine
	Greengage Database (GPDB) is an advanced, fully featured, open
	source data warehouse, based on PostgreSQL. It provides powerful and
	rapid analytics on petabyte scale data volumes. Uniquely geared toward
	big data analytics, Greengage Database is powered by the world’s most
	advanced cost-based query optimizer delivering high analytical query
	performance on large data volumes.
