Source: gpdb
Maintainer: Greengage <greengage@greengagedb.org>
Section: database
Build-Depends: debhelper (>= 13),
	 dh-python,
	 lsb-release

Package: gpdb
Architecture: any
Depends: ${shlibs:Depends},
	 iputils-ping,
	 less,
	 openssh-client,
	 openssh-server,
	 openssl,
	 rsync,
	 zip,
	 net-tools,
	 less,
	 iproute2,
	 perl,
	 libaprutil1,
	 ${pythonRequires}
Conflicts: gpdb-loaders,
	 python-is-python3
Description: Greengage MPP database engine
